*
!.gitignore
!*/
!*/*/
!*/*/*/
!*/*/*/*/

!test_example_scripts/feature_electromagnetic_new/e*.in
!test_example_scripts/master/e*.in
!test_example_scripts/feature_electromagnetic_new/*.sh
!test_example_scripts/master/*.sh
!test_nonlinear_only_sims/sims/rk3/r*.in
!test_nonlinear_only_sims/sims/rk3/*.sh

!generate_sims/*.py
!postprocessing_tools/*.py
!templates_and_scripts/*.sh

!test_cbc_beta_scan/sims/*/template*
!test_cbc_beta_scan/sims/*/*.pickle
!test_cbc_beta_scan/sims/*/*.png
!test_cbc_beta_scan/sims/old_em_stella_comparison/electromagnetic/*/*.png
!test_cbc_beta_scan/sims/old_em_stella_comparison/electromagnetic/*/*.in
!test_cbc_beta_scan/sims/old_em_stella_comparison/electromagnetic/*/*.pickle
!test_cbc_beta_scan/sims/old_em_stella_comparison/electromagnetic/*/*.sh
!test_cbc_beta_scan/sims/old_em_stella_comparison/electromagnetic/*/template*
!test_cbc_beta_scan/sims/old_em_stella_comparison/electromagnetic-new/*/*.png
!test_cbc_beta_scan/sims/old_em_stella_comparison/electromagnetic-new/*/*.in
!test_cbc_beta_scan/sims/old_em_stella_comparison/electromagnetic-new/*/*.pickle
!test_cbc_beta_scan/sims/old_em_stella_comparison/electromagnetic-new/*/*.sh
!test_cbc_beta_scan/sims/old_em_stella_comparison/electromagnetic-new/*/template*
!test_cbc_beta_scan/sims/old_em_stella_comparison/electromagnetic-new_stream_implicit/*/*.png
!test_cbc_beta_scan/sims/old_em_stella_comparison/electromagnetic-new_stream_implicit/*/*.in
!test_cbc_beta_scan/sims/old_em_stella_comparison/electromagnetic-new_stream_implicit/*/*.pickle
!test_cbc_beta_scan/sims/old_em_stella_comparison/electromagnetic-new_stream_implicit/*/*.sh
!test_cbc_beta_scan/sims/old_em_stella_comparison/electromagnetic-new_stream_implicit/*/template*
!test_cbc_beta_scan/*.py
!test_cbc_beta_scan/*.sh
!test_cbc_beta_scan/sims/viking_gfortran_build/*/template*
!test_cbc_beta_scan/sims/viking_gfortran_build/*/*.pickle
!test_cbc_beta_scan/sims/viking_gfortran_build/*/*.png
!test_cbc_beta_scan/sims/viking_gfortran_build/old_em_stella_comparison/electromagnetic/*/*.png
!test_cbc_beta_scan/sims/viking_gfortran_build/old_em_stella_comparison/electromagnetic/*/*.in
!test_cbc_beta_scan/sims/viking_gfortran_build/old_em_stella_comparison/electromagnetic/*/*.pickle
!test_cbc_beta_scan/sims/viking_gfortran_build/old_em_stella_comparison/electromagnetic/*/*.sh
!test_cbc_beta_scan/sims/viking_gfortran_build/old_em_stella_comparison/electromagnetic/*/template*
!test_cbc_beta_scan/sims/viking_gfortran_build/old_em_stella_comparison/electromagnetic-new/*/*.png
!test_cbc_beta_scan/sims/viking_gfortran_build/old_em_stella_comparison/electromagnetic-new/*/*.in
!test_cbc_beta_scan/sims/viking_gfortran_build/old_em_stella_comparison/electromagnetic-new/*/*.pickle
!test_cbc_beta_scan/sims/viking_gfortran_build/old_em_stella_comparison/electromagnetic-new/*/*.sh
!test_cbc_beta_scan/sims/viking_gfortran_build/old_em_stella_comparison/electromagnetic-new/*/template*
!test_cbc_beta_scan/sims/viking_gfortran_build/old_em_stella_comparison/electromagnetic-new_stream_implicit/*/*.png
!test_cbc_beta_scan/sims/viking_gfortran_build/old_em_stella_comparison/electromagnetic-new_stream_implicit/*/*.in
!test_cbc_beta_scan/sims/viking_gfortran_build/old_em_stella_comparison/electromagnetic-new_stream_implicit/*/*.pickle
!test_cbc_beta_scan/sims/viking_gfortran_build/old_em_stella_comparison/electromagnetic-new_stream_implicit/*/*.sh
!test_cbc_beta_scan/sims/viking_gfortran_build/old_em_stella_comparison/electromagnetic-new_stream_implicit/*/template*
!test_cbc_beta_scan/sims/beta_0.04000_investigation/*.in
!test_cbc_beta_scan/sims/beta_0.04000_investigation/*/*.in
!test_cbc_beta_scan/sims/beta_0.04000_for_thesis/*.in
!test_cbc_beta_scan/sims/beta_0.04000_for_thesis/*.omega
!test_cbc_beta_scan/sims/stella_master_beta0_ky05_np4_nt64_nvpa18_nmu12_zupw0_str_mirror_implicit/input.in
!test_cbc_beta_scan/sims/stella_master_beta0_ky05_np4_nt64_nvpa18_nmu12_zupw0_str_mirror_implicit/*.sh


!test_slab_em/*.py
!test_slab_em/sims/*/*.in
test_slab_em/sims/*/.*.in
test_slab_em/sims/*/*.used_inputs.in



!w7x_em/*.py
!w7x_em/sims/*.in
!w7x_em/sims/initial_test_sims/*.in
!w7x_em/sims/w003_*/*.pickle
!w7x_em/sims/w003_*/template*
!w7x_em/sims/w003_*/submit_jobs.sh
!w7x_em/sims/w003_beta_scan_implicit_ky1_upw0/*/*.final_fields
!w7x_em/sims/w003_beta_scan_implicit_ky1_upw0/*/*.geometry
!w7x_em/sims/w003_fprim_7.7143_tprim_7.7143_ky_4.5000_beta0.01_for_diagnostics/*.final_fields
!w7x_em/sims/w003_fprim_7.7143_tprim_7.7143_ky_4.5000_beta0.01_for_diagnostics/*.geometry
!w7x_em/sims/kjm3_*/*.pickle
!w7x_em/sims/kjm3_*/template*
!w7x_em/sims/kjm3_*/submit_jobs.sh
!w7x_em/sims/kjm3_beta_scan_implicit_ky1_upw0/*/*.final_fields
!w7x_em/sims/kjm3_beta_scan_implicit_ky1_upw0/*/*.geometry
!w7x_em/equilibria/*
!w7x_em/sims/wout_DKH*/template*
!w7x_em/sims/wout_DKH*/submit_jobs.sh
!w7x_em/sims/wout_DKH*/*.pickle
!w7x_em/sims/w003_es_linear_master_src_h_comparison*/README.md
!w7x_em/sims/w003_es_linear_master_src_h_comparison*/src*.in
!w7x_em/sims/w003_es_linear_master_src_h_comparison*/master*.in
!w7x_em/sims/w003_es_linear_master_src_h_comparison*/*.sh
!w7x_em/sims/w003_es_linear_master_src_h_comparison*/*.omega
!w7x_em/sims/w003_es_linear_master_src_h_comparison*/*.out
!w7x_em/sims/w003_es_linear_master_src_h_comparison_higher_res/README.md
!w7x_em/sims/w003_es_linear_master_src_h_comparison_higher_res/src*.in
!w7x_em/sims/w003_es_linear_master_src_h_comparison_higher_res/master*.in
!w7x_em/sims/w003_es_linear_master_src_h_comparison_higher_res/*.sh
!w7x_em/sims/w003_es_linear_master_src_h_comparison_higher_res/*.omega
!w7x_em/sims/w003_es_linear_master_src_h_comparison_higher_res/*.out
!w7x_em/sims/kjm3_es_linear_master_src_h_comparison*/README.md
!w7x_em/sims/kjm3_es_linear_master_src_h_comparison*/src*.in
!w7x_em/sims/kjm3_es_linear_master_src_h_comparison*/master*.in
!w7x_em/sims/kjm3_es_linear_master_src_h_comparison*/*.sh
!w7x_em/sims/kjm3_es_linear_master_src_h_comparison*/*.omega
!w7x_em/sims/kjm3_es_linear_master_src_h_comparison*/*.out
!w7x_em/sims/kjm3_es_linear_master_src_h_comparison_higher_res/README.md
!w7x_em/sims/kjm3_es_linear_master_src_h_comparison_higher_res/src*.in
!w7x_em/sims/kjm3_es_linear_master_src_h_comparison_higher_res/master*.in
!w7x_em/sims/kjm3_es_linear_master_src_h_comparison_higher_res/*.sh
!w7x_em/sims/kjm3_es_linear_master_src_h_comparison_higher_res/*.omega
!w7x_em/sims/kjm3_es_linear_master_src_h_comparison_higher_res/*.out

!test_field_solve/*.py
test_field_solve/sims/*/*.in
!test_field_solve/sims/*/template_input_file
!test_field_solve/sims/*/*.pickle
test_field_solve/sims/*/.*.in
test_field_solve/sims/*/*.used_inputs.in

!test_cbc_nonlinear_beta0/README.md
!test_cbc_nonlinear_beta0/sims/*/*.in
!test_cbc_nonlinear_beta0/sims/*/*.fluxes
!test_cbc_nonlinear_beta0/sims/*/*.sh
!test_cbc_nonlinear_beta0/sims/*/*.png
!test_cbc_nonlinear_beta0/sims/*/*.eps
!test_cbc_nonlinear_beta0/sims/*/*.summary_pickle
!test_cbc_nonlinear_beta0/*.py


!test_cbc_nonlinear_em/sims/*/*.summary_pickle
!test_cbc_nonlinear_em/*.py
!test_cbc_nonlinear_em/sims/*/*.png
!test_cbc_nonlinear_em/README.md
!test_cbc_nonlinear_em/sims/test_em_nonlinear/input_master_like_nonlinear_dt0002_fg_full_krange.in
!test_cbc_nonlinear_em/sims/test_em_nonlinear/input_master_like_nonlinear_dt001_fg_full_krange.in

!test_cbc_beta0_2species/*.py
!test_cbc_beta0_2species/sims/*/*.in
test_cbc_beta0_2species/sims/test_stella_master_with_fluxes/
test_cbc_beta0_2species/sims/test_stella_master_with_fluxes/*

!nonlinear_nisl_sims/*.py
!nonlinear_nisl_sims/sims/*/*.in

!test_nonlinear_only_sims/*.py
!test_nonlinear_only_sims/sims/*/*.in

!long_wavelength_stability_tests/*.in
!long_wavelength_stability_tests/sims/*.in
long_wavelength_stability_tests/.*.in

*/sims/*/.*.in


