*
!.gitignore
!*/
!*/*/
!*/*/*/
!*/*/*/*/
!test_example_scripts/feature_electromagnetic_new/e*.in
!test_example_scripts/master/e*.in
!test_example_scripts/feature_electromagnetic_new/*.sh
!test_example_scripts/master/*.sh
!test_nonlinear_only_sims/sims/rk3/r*.in
!test_nonlinear_only_sims/sims/rk3/*.sh
!test_cbc_beta_scan/sims/*/template*
!test_cbc_beta_scan/sims/*/*.pickle
!test_cbc_beta_scan/sims/*/*.png
!test_cbc_beta_scan/sims/old_em_stella_comparison/electromagnetic/*/*.png
!test_cbc_beta_scan/sims/old_em_stella_comparison/electromagnetic/*/*.in
!test_cbc_beta_scan/sims/old_em_stella_comparison/electromagnetic/*/*.pickle
!test_cbc_beta_scan/sims/old_em_stella_comparison/electromagnetic/*/*.sh
!test_cbc_beta_scan/sims/old_em_stella_comparison/electromagnetic/*/template*
!test_cbc_beta_scan/sims/old_em_stella_comparison/electromagnetic-new/*/*.png
!test_cbc_beta_scan/sims/old_em_stella_comparison/electromagnetic-new/*/*.in
!test_cbc_beta_scan/sims/old_em_stella_comparison/electromagnetic-new/*/*.pickle
!test_cbc_beta_scan/sims/old_em_stella_comparison/electromagnetic-new/*/*.sh
!test_cbc_beta_scan/sims/old_em_stella_comparison/electromagnetic-new/*/template*
!test_cbc_beta_scan/sims/old_em_stella_comparison/electromagnetic-new_stream_implicit/*/*.png
!test_cbc_beta_scan/sims/old_em_stella_comparison/electromagnetic-new_stream_implicit/*/*.in
!test_cbc_beta_scan/sims/old_em_stella_comparison/electromagnetic-new_stream_implicit/*/*.pickle
!test_cbc_beta_scan/sims/old_em_stella_comparison/electromagnetic-new_stream_implicit/*/*.sh
!test_cbc_beta_scan/sims/old_em_stella_comparison/electromagnetic-new_stream_implicit/*/template*
!test_cbc_beta_scan/*.py
!test_cbc_beta_scan/*.sh
!generate_sims/*.py
!postprocessing_tools/*.py
!templates_and_scripts/*.sh
!test_cbc_beta_scan/sims/viking_gfortran_build/*/template*
!test_cbc_beta_scan/sims/viking_gfortran_build/*/*.pickle
!test_cbc_beta_scan/sims/viking_gfortran_build/*/*.png
!test_cbc_beta_scan/sims/viking_gfortran_build/old_em_stella_comparison/electromagnetic/*/*.png
!test_cbc_beta_scan/sims/viking_gfortran_build/old_em_stella_comparison/electromagnetic/*/*.in
!test_cbc_beta_scan/sims/viking_gfortran_build/old_em_stella_comparison/electromagnetic/*/*.pickle
!test_cbc_beta_scan/sims/viking_gfortran_build/old_em_stella_comparison/electromagnetic/*/*.sh
!test_cbc_beta_scan/sims/viking_gfortran_build/old_em_stella_comparison/electromagnetic/*/template*
!test_cbc_beta_scan/sims/viking_gfortran_build/old_em_stella_comparison/electromagnetic-new/*/*.png
!test_cbc_beta_scan/sims/viking_gfortran_build/old_em_stella_comparison/electromagnetic-new/*/*.in
!test_cbc_beta_scan/sims/viking_gfortran_build/old_em_stella_comparison/electromagnetic-new/*/*.pickle
!test_cbc_beta_scan/sims/viking_gfortran_build/old_em_stella_comparison/electromagnetic-new/*/*.sh
!test_cbc_beta_scan/sims/viking_gfortran_build/old_em_stella_comparison/electromagnetic-new/*/template*
!test_cbc_beta_scan/sims/viking_gfortran_build/old_em_stella_comparison/electromagnetic-new_stream_implicit/*/*.png
!test_cbc_beta_scan/sims/viking_gfortran_build/old_em_stella_comparison/electromagnetic-new_stream_implicit/*/*.in
!test_cbc_beta_scan/sims/viking_gfortran_build/old_em_stella_comparison/electromagnetic-new_stream_implicit/*/*.pickle
!test_cbc_beta_scan/sims/viking_gfortran_build/old_em_stella_comparison/electromagnetic-new_stream_implicit/*/*.sh
!test_cbc_beta_scan/sims/viking_gfortran_build/old_em_stella_comparison/electromagnetic-new_stream_implicit/*/template*
!test_cbc_beta_scan/sims/beta_0.04000_investigation/*.in
!test_cbc_beta_scan/sims/beta_0.04000_investigation/*/*.in
!test_slab_em/*.py
!test_slab_em/sims/*/*.in
test_slab_em/sims/*/.*.in
test_slab_em/sims/*/*.used_inputs.in
!test_field_solve/*.py
test_field_solve/sims/*/*.in
!test_field_solve/sims/*/template_input_file
!w7x_em/*.py
!w7x_em/sims/*.in
!w7x_em/sims/w003_em_linear_fprim_tprim_explicit_scan/template*
!w7x_em/sims/w003_em_linear_fprim_tprim_implicit_scan/template*
!w7x_em/equilibria/*
!test_field_solve/sims/*/*.pickle
test_field_solve/sims/*/.*.in
test_field_solve/sims/*/*.used_inputs.in
